.tile {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
}

.black-tile {
    background-color: #779556;
}

.white-tile {
    background-color: #ebecd0;
}

.tile img {
    height: 80px;
    width: 80px;
}

.tile .chess-piece {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tile .chess-piece:hover {
    cursor: grab;
}

.tile .chess-piece:active {
    cursor: grabbing;
}

.tile-highlight:not(.piece-on-tile)::before{
    content: " ";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
}


.tile-highlight.piece-on-tile::before{
    position: absolute;
    content: " ";
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.4);;
}