#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
}

.modal {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.modal.hidden {
    display: none;
}

.modal > .modal-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    height: 300px;
    width: 800px;
    top : calc(50% - 110px);
    left: calc(50% - 400px);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal > .modal-body > img {
    height: 110px;
    padding: 20px;
    border-radius: 50%;
}

.modal > .modal-body > img:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.modal > .modal-body > .checkmate-body {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    
}

.modal > .modal-body > .checkmate-body > span {
    font-size: 32px;
    color: white;
}

.modal > .modal-body > .checkmate-body > button {
    width: 200px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 8px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.modal > .modal-body > .checkmate-body > button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}



.modal > .modal-body > #color-body {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    
}

.modal > .modal-body > #color-body > span {
    font-size: 32px;
    color: white;
}

.modal > .modal-body > #color-body > button {
    width: 200px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 8px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.modal > .modal-body > #color-body > button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}